.contenedor {
    background-color: white;
    
}
.inputsChat{
    position: absolute;   
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-around;
    justify-content: space-around;
    background-color: #FFC107;
    width: 100%;
    height: 8%;
    bottom: 0;
}

input {
    width: 85%;
}

img {
    width: 8%;
}