.contenedor{
    width: 100%;
    height: 100vh;    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    background-color: firebrick;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-color: gray;
}

.containerAhorcado{
    width: 100%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahorcadoGrid {
    width: 80%;
    height: 80%;
    background-color:ivory;
    display: flex;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsAhorcado
{
    height: 100%;
    background-color: chocolate;
}

app-chat{
    display: absolute;
    width: 60%;
}


* {
    box-sizing: border-box;
  }
  .main-container {
    max-width: 800px;
    margin: auto;
  }
  h1.titulo {
    margin: 50px auto 80px auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  }
  h1#msg-final {
    text-align: center;
    color: crimson;
    transition: all .5s ease;
    transform: scale(0);
    min-height: 50px;
    margin-bottom: 0;
  }
  .zoom-in {
    transform: scale(1) !important;
  }
  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }
  .rojo {
    color: red;
  }
  .verde {
    color: green;
  }
  @keyframes zoomInOut {
    0% { transform: scale(0); }
    50% { transform: scale(1); }
    70% { transform: scale(1); }
    100% { transform: scale(0); }
  }
  h2.palabra {
    margin: 0 auto 25px auto;
    text-align: center;
    color: royalblue;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto; 
  }
  .no-wrap {
    flex-wrap: nowrap !important;
  }
  .col {
    width: 50%;
    text-align: center;
  }
  .col span {
    
  }
  #turnos h3 {
    margin: auto;
  }
  h3 span {
     color: orangered;
  }
  .letra:disabled {
    color:rgba(255, 0, 0, 0.5);
  }
  picture {
    position: relative;
  }
  picture img {
    position: absolute;
    top: -203px;
    left: -205px;
    height: 225px;
  }
  #image5, #image4, #image3,
  #image2, #image1, #image0 {
    opacity: 0;
    transition: opacity .3s ease;
  }
  .fade-in {
    opacity: 1 !important;
  }
  .encuadre {
    border: 2px dashed crimson;
    padding: 3px 2px 2px 6px;
  }