.contenedor{
    width: 100%;
    height: 100vh;    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    background-color: firebrick;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-color: gray;
}

.containerAhorcado{
    width: 100%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahorcadoGrid {
    width: 80%;
    height: 80%;
    background-color:ivory;
    display: flex;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsAhorcado
{
    height: 100%;
    background-color: chocolate;
}

app-chat{
    display: absolute;
    width: 60%;
}

