<div class="contenedor">
    <div class="row">
        <div class="col-md-8">
            <div class="containerAhorcado">
                <div class="ahorcadoGrid">
                    <div class="display">
                        <label for="inputAhorcado">asdas</label>
                    </div>
                    <div class="inputsAhorcado">
                        <input id="inputAhorcado" type="text">
                        <button>a</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="containerAbout">
                <app-quiensoy></app-quiensoy>
            </div>
        </div>
    </div>
</div>

