<div class="container">
  <!--**************************-->  
  <!-- ======HOME LOGEADO====== -->
  <!--**************************-->  
  <!--div class="homeIn" *ngIf="user && !veEncuesta">
    <app-encuesta></app-encuesta>
    {{veEncuesta}}
  </div>
  <div class="homeIn" *ngIf="user && veEncuesta">
    <br><br><br><br>
    <app-game [gamesAvailable]="gamesAvailables"></app-game>
  </div>
    
  <!--*****************************-->  
  <!-- ======HOME DESLOGEADO====== -->
  <!--*****************************-->  
    <div class="homeOut">
      <br><br><br>
      <section class="py-1 text-center container">
          <div class="row py-lg-4">
            <div class="col-lg-7 col-md-8 mx-auto">
              <h1>Bienvenido!</h1>
              <p class="lead text-muted">Esta es la sala de juegos desarrollada por Nahuel G.</p>
            </div>
          </div>
      </section>
      <div class="row justify-content-md-center">
          <div class="col-md-auto">
              <img src="../../../../assets/img/2511555.gif" width="550px">
          </div>
      </div>
    </div>
</div>