* {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box;
}

.tarjeta {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 6px;
    background-color: #F5F3EB;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 12px 0px rgba(50, 50, 50, 0.75);
    animation-name: view;
    animation-duration: 3s;
}

@keyframes view {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(158, 158, 158);
}

.login .inputBox {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 10px;
}

.login .inputBox input {
    position: absolute;
    width: 80%;
    height: 30px;
    padding: 10px;
    padding-left: 30px;
    background-color: transparent;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #212529;
    font-size: 18px;
}

.login .inputBox label {
    position: absolute;
    margin: auto;
    transition: 0.5s;
    left: 70px;
    color: #212529;
    pointer-events: none;
}

.login .inputBox img {
    width: 100%;
    position: absolute;
    left: 40px;
    width: 20px;
    height: 20px;
    opacity: 0.2;
}

.login .inputBox input:focus {
    border-width: 0 0 2px;
    color: rgb(5, 5, 5);
    border-color: #212529;
}

.login .inputBox input:focus ~ label,
.login .inputBox input:valid ~ label {
    transform: translateY(-32px);
    font-size: 14px;    
}

.login .forgotPassBox {
    width: 80%;
    text-align: end;
    margin: 10px;
}

.login .registerBox {
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 5px;
    background-image: linear-gradient(to right bottom, #a891da, #a494dc, #a096de, #9d99e0, #999be1);
}

.login .registerBox a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 12px;
}

.login #btnLogin {
    width: 80%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    background-color: #B32442;
}

small {
    width: 100%;
    bottom: 100px;
    height: 5%;
    padding-left: 15%;
}

.invalid {
    color: red;
}