.contenedor{
    width: 100%;
    height: 100vh;    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    background-color: rgb(236, 236, 236);
    -webkit-box-shadow: 0px 2px 30px -4px rgba(0,0,0,0.58); 
    box-shadow: 0px 2px 30px -4px rgba(0,0,0,0.58);
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;

}

.containerPPT{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opcionesPCPPT {
    width: 90%;
    height: 50%;
    /*background-color: rgb(255, 255, 255);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcionesJugadorPPT{
    width: 90%;
    height: 50%;
    /*background-color: blanchedalmond;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcionesJugadorPPT button{
    margin: 5%;
}


.opcionesJugadorPPT button img{
    width: 100%;
    height: 100%;
}

.eleccionPC .img
{
    width: 100%;
    height: 100%;
}

.app-chat {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    width: 20%;
    height: 80%;
    border: 1px solid black;
}

.containerAbout{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}