.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.chat-window{
    padding: 10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 15px;
}

.app-mensajes {
    overflow-y: scroll;
    height: 270px;
    padding: 5px;
}